@import "../../app";

$google-color: #4285f4;

.custom-buton {
  min-width: 150px;
  width: auto;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  font-size: 15px;
  font-family: $serif;
  background-color: $dark;
  color: $light;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: white;
    color: $dark;
    border: 1px solid lighten($dark, 20%);
  }

  &.google-sign-in {
    background-color: $google-color;
    color: white;

    &:hover {
      background-color: darken($google-color, 5%);
      border: none;
    }
  }
}
