.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 32px;
    margin: 30px auto 10px;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 20px;
    }
  }
}
