@import "../../app";

.cart-dropdown {
  position: absolute;
  width: 240px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid $border-color;
  background-color: white;
  top: 80px;
  right: 60px;
  z-index: 5;

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }
  }

  button {
    margin-top: auto;
  }
}
