@import "../../app";

.sign-up {
  min-width: 420px;
  padding: 30px;
  margin: 30px;
  border: 1px solid lighten($dark, 50%);

  .subtitle {
    display: block;
    font-size: 18px;
    font-weight: lighter;
    font-family: $serif;
  }
}
