@import "../../app";

.header {
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .logo-container {
    height: 100%;
    width: 75px;
    position: relative;

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .options {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .option {
      font-size: 20px;
      font-weight: 300;
      color: $link;
      text-transform: uppercase;
      margin: 0px 20px;
      cursor: pointer;

      &:hover {
        color: $activeLink;
      }

      &:active {
        color: $activeLink;
      }
    }
    .active-link {
      color: $info !important;
      border-bottom: 2px solid $info;
    }
  }
}
