@import "../../app";

.header {
  z-index: 99;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    color: $link;
    text-transform: uppercase;

    &:hover {
      color: $activeLink;
    }

    &:active {
      color: $activeLink;
    }
  }
  .active-link {
    color: $activeLink;
  }
}
