//ManausSport - https://coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c
$roseMadder: #e71d36;
$brightYellow: #ff9f1c;
$maxBlueGreen: #2ec4b6;
$babyPoder: #ffdffc;
$msBlue: #011627;

// Colors001 - https://coolors.co/3f1b1b-f25f5c-ffe066-247ba0-70c1b3
$darkLiver: #50514f;
$sunsetOrange: #f25f5c;
$mustard: #ffe066;
$Lazuli: #247ba0;
$greenSheen: #70c1b3;

// space-gray like Color Palette https://www.color-hex.com/color-palette/2280
// Website Hand-Drawn Images https://www.color-hex.com/color-palette/42098
