$primary: #fbfbfb;
$secondary: #4f5b66;
$highlight: #f51212;
$dark: #343d46;
$light: #c0c5ce;

// space-gray like Color Palette https://www.color-hex.com/color-palette/2280
// Website Hand-Drawn Images https://www.color-hex.com/color-palette/42098
